<h1><%= t('little_url.new.title') %></h1>

<%= form_with model: @little_url, local: true do |form| %>
  <div>
    <%= form.label :original_url, t('little_url.new.original_url_text') %><br>
    <%= form.text_field :original_url, required: true %>
  </div>

  <div>
    <%= form.label :token, t('little_url.new.token') %><br>
    <%= form.text_field :token, required: true %>
  </div>

  <div>
    <%= form.label :description, t('little_url.new.description') %><br>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.submit t('little_url.new.action') %>
  </div>
<% end %>

<% if @little_url.errors.any? %>
  <ul>
    <% @little_url.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2><%= t('little_url.new.my_urls') %></h2>
<ul>
  <% @urls.each do |url| %>
    <li>
      <strong><%= "https://littleurl.com/#{url.token}" %>:</strong>
      <%= link_to t('little_url.new.visit_url'), little_url_path(url) %> |
    </li>
  <% end %>
</ul>
